h4{
    color: rgb(18, 18, 15);
    background-color: aqua;
    font-size: 60px;
}
/* h1{
    color: #F54927;
    font-size: 50px;
}*/
.heading1{
    color: #f527a6;
    font-size: 50px;
    font:bold;
}
.heading2{
 color: #1ccbe2;
    font-size: 30px;
    background-color: beige;
}
#heading3{
 color: blue;
    font-size: 30px;
}
#heading4{
 color: gray;
    font-size: 60px;
    background-color: beige;
}
#heading6{
    color: blue;
}
.heading5{
    color: #1ccbe2;
    background-color: black;
}
.hc_f_s{
    font-size: 60px;
}
.hc1{
    color: #1ccbe2;

}
.hc2{
    color: #f527a6;
}
.hc3{
    color: #F54927;
}
.f_trasform_uppercase{
    text-transform: uppercase;
}
.f_trasform_lowercase{
    text-transform: lowercase;
}
.f_trasform_capitalize{
    text-transform: capitalize;
}
.t_align_center{
    text-align: center;
}
.t_align_rigth{
    text-align: right;
}
.t_decoration_overline{
    text-decoration: overline;
}
.t_decoration_underline{
    text-decoration: underline;
}
.t_decoration_linethourgh{
    text-decoration: line-through;
}
.t_indent{
    text-indent: 50px;
}
.t_letter_spacing{
    letter-spacing: 8px;
}
.t_word_spacing{
    word-spacing: 30px;
}
.line_height{
    line-height: 25px

}
.t_shadow{
    color: blue;
    font-size: 70px;
    text-align: center;
    text-shadow: 6px 4px 8px gray;
}

.b_shadow{
    width: 200px;
    height: 250px;
    box-shadow:  5px 5px 5px red;
}
.d_shadow{
    width: 300px;
    height: 200px;
    filter: drop-shadow(5px 5px 5px rgb(209, 36, 36));
}
.br_propreties{
    /* solid dotted dashed double inset outset*/
    width: 300px;
    height: 200px;
    border: 15px groove green;
    border-radius: 50%;
    border-left-color: red;
}
.br_text_propreties{
  width: 300px;
    border: 15px solid blue;
}
.box_model{
    border: 15px solid black;
    padding: 40px;
    margin: 25px; 
}
.box_model2{
    padding: 50px;
    width: 300px;
    height: 200px;
    margin-top: 100px;
    border: 15px solid black;
}
.font_family{
    font-family: 'Courier New', Courier, monospace;
}
.font_family2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.font_family3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.font_family4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.font_family5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.font_properties{
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
}
.box{
    width: 200px;
    height: 100px;
    border: 4px solid black;
    padding: 15px;
    background-color: gray;
    margin-bottom: 10px;
}
.box1{
    position: static;
}
.box2{
    position: relative;
    left: 400px;
    top: 40px;
}
.box3{
    position: absolute;
    left: 400px;
    top: 30px;
}
.box4{
position: sticky;
top: 10px;
}
.box5{
position: fixed;
right: 10px;

}
.flex-container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap ;
    justify-content: center ;

}
.flex-itam{
    width: 100px;
    height: 100px;
    background-color: gray;
    border: 3px solid black;
    margin  : 15px ;
    padding: 15px;
    color: white;
    font-size: 30px;
}
.h1_hover:hover{
    color: lightskyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    text-transform: capitalize;

}
.p_active:active{
        color: lightskyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    text-transform: capitalize;
}
.focus:focus{
    background-color: lightgray;

}
.p_::first-line{
    color: red;
}
.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
}

@keyframes moving{
0%{background-color: black;left:0px;top:0px;}
25%{background-color:yellow;left:300px;top:0px;}
50%{background-color: blue;left:300px;top:300px;}
75%{background-color: red;left:0px;top:300px;}
100%{background-color: black;left:0px;top:0px;}
}
.ul_nth{
    width: 200px;
    padding: 20px;
    list-style-type: none;
}
.li_nth{
border-radius: 1px;
margin: 5px;
padding: 5px;
border: 1px solid red;

}
/* .green{
    background-color: green;
}
.yellow{
    background-color: yellow;
} */
 .li_nth:nth-child(odd){
background-color: yellow;
 }
 .li_nth:nth-child(even){
    background-color: green;
 }
 .li_nth:nth-child(5){
    background-color: #1ccbe2;
 }
.li_nth:first-child{
    background-color: #f527a6;
 }
 .t_animation{
    display: flex;
    letter-spacing: 4px;
    font-size: 70px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-family: sans-serif;
    perspective: 70px;
 }
 .t_animation > b{
    background-color: red;
    box-shadow: 0px 20px 10px gray;
    height: 80px;
    background-clip: text;
    color: transparent;
    transform-origin: bottom;
    animation: getupdown 10s infinite;
}
 .t_animation > b:nth-child(1){
    animation-delay: 0s;
 }
  .t_animation > b:nth-child(2){
    animation-delay: 0.25s;
    margin: 10px;
 }
  .t_animation > b:nth-child(3){
    animation-delay: 0.50s;
 }
  .t_animation > b:nth-child(4){
    animation-delay: 0.75s;
 }
  .t_animation > b:nth-child(5){
    animation-delay: 1s;
 }
  .t_animation > b:nth-child(6){
    animation-delay: 1.25s;
 }
@keyframes getupdown{
    /* 0%from */0%{transform: rotateX(-85deg);}
    10%,50%{transform: rotatex(0deg);}
    60%,100%{transform: rotatex(-85deg);}
}
