@media(min-width:320px) and (max-width:767px){
body{
    background-color: blue;
    color: yellow;
    font-size: 30px;
    
}
img{
    width: 100%;
}
}
@media (min-width: 768px){
body{
    background-color: rgb(255, 0, 0);
    font-size: 50px;
}
img{
    display: none;
}
}
@media(min-width: 1024px){
body{
    background-color: purple;
}
}
@media(min-width: 1224px){

}
@media(min-width: 1820px){

}
/* @media(min-width:850px) (max-width:950px){

} */
